* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
    width: 500px;
    border-radius: 20px;
    background: #e6e6e6;
    box-shadow:  8px 8px 24px #cdcdcd,
                 -8px -8px 24px #ffffff;
    padding: 40px;
}

.form {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
}

.form img {
    height: 185px;
    width: 150px;
    border-radius: 10px;
    box-shadow:  8px 8px 20px #cdcdcd,
                 -8px -8px 20px #ffffff;
}

.fio {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.other {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.input-field {
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: #e6e6e6;
    box-shadow:  8px 8px 20px #cdcdcd,
                 -8px -8px 20px #ffffff;
    transition: all 0.2s ease;
}

.input-field:focus {
    outline: none;
    box-shadow:  0px 0px 10px #51c5ff;
}

.buttons {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.button {
    transition: all 0.2s ease;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f5f5f5;
    box-shadow:  8px 8px 20px #cdcdcd,
                 -8px -8px 20px #ffffff;          
    font-weight: bold;
    color: rgb(72, 72, 72);
}

.button:hover {
    background-color: #51c5ff;
    box-shadow:  8px 8px 20px #51c5ff,
                 -8px -8px 20px #b6e7ff;
    color: white;
}
